@{
    ViewBag.Title = "Subir Archivos";
}
<br />
<form  class="form-inline" action="/MFile/SubirArchivo" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label class="btn btn-default btn-file">
            Seleccionar Archivo <input type="file" name="input_file" style="display:none" />
        </label>
        <input class="btn btn-success" type="submit" value="Subir" />
    </div>
</form>